
h4 {
    display: inline;
}


body{
    /* background-color: teal;
    background-image: linear-gradient(to right, teal, purple); */
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    color: black;
    text-align: center;
    background: #EDDCFA;
    margin-top: auto;
    padding: 20px;
}

a:link {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

.word:hover{
    text-decoration-color: #4B0082;
    text-emphasis: double-circle;
    color: #4B0082;
}

#header-container{
    background: #ecf9ec;
}

.c-button {
    background: #4B0082;
}

.form-container {
    margin:auto;
    display: block;
    width:400px;
    text-align:left;
  }

.tchelber{
    color: #4B0082;
}


.writes{
    color: #008080;
}


p, h4, h5, h6, h3 {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    justify-content: center;
}
 
/* .bg-steel {
    background-color: #5f788a;
}
  
.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
   */

.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }
   
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
	margin-top: 30px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}
  
a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}

/* .ti .ti-arrow-up-right {
    content: '\ea24';
    stroke-width: 2;
}
  */

/* upload image css */
  
  .file-title {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .file-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
  }
  

  .file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
  }
  
  .file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .file-input::file-selector-button:hover {
    background: #0d45a5;
  }
  
/* end upload image css */

.intro {
    text-align: center;
    line-height: 2rem;
}

.landing-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px;
    border-radius: 3px;
	margin-top: 30px;
    margin-bottom: 20px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	/* or 150% */

	letter-spacing: 0.25px;
}

.releases {
    height: 200px;
}

.release-post {
    display: inline;
}

#contact{
    background: white;
}

#row_2 {
    margin:0px auto;
}

#row_4 {
    line-height: 4rem;
}

#send {
	background: #4B0082;
	border-radius: 16px;
	color: white;
	margin-left: 25%;
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}