{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="content-section">
      <h3>My written works</h3>
      <p class="text-muted">Choose a category</p>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('views.releases') }}">All</a>
        </li>
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('views.releases', category='articles') }}"
            >Articles</a
          >
        </li>
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('views.releases', category='e-book') }}"
            >E-book</a
          >
        </li>
        <li class="list-group-item list-group-item-light">
          <a href="{{ url_for('views.releases', category='series') }}"
            >Series</a
          >
        </li>
      </ul>
    </div>
  </div>
<div class="col-md-8">
<div class="d-flex content-section">
  <div class="flex-shrink-0">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  </div>
  <div class="flex-grow-1 ms-1">
    <div class="article-metadata">
      <h5>
  <a class="mr-2" href="{{ url_for('views.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
  <small cass="text-muted"><i>Posted {{ post.date_posted.strftime('%Y-%m-%d') }}</i></small>    
</h5>
          {% if post.author == current_user or current_user.is_admin %}
          <div>
            <a class="btn btn-outline-dark btn-sm mt-1 mb-1" href="{{ url_for('auth.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-outline-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('auth.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-outline-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
