<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon1.ico') }}">

    <!-- Bootstrap css styles and icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% if title %}
    <title>Tchelber Writes - {{ title }}</title>
    {% else %}
    <title>Tchelber Writes</title>
    {% endif %}
</head>
<body>
    <header class="py-0 mb-2" id="header-container"><div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ url_for('views.home') }}">
                <h4 class="tchelber">Tchelber</h4><h4 class="writes">Writes</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             
            <div class="collapse navbar-collapse" id="navbarNav"> 
              <ul class="navbar-nav ms-auto me-auto">
                <li class="nav-item active word">
                  <a
                    href="{{ url_for('views.blog') }}"
                    class="nav-link px-2 text-secondary"
                    >Blog</a
                  >
                </li>
                <li class="nav-item active word">
                  <a
                    href="{{ url_for('views.releases') }}"
                    class="nav-link px-2 text-secondary"
                    >My Works</a
                  >
                </li>
                <li class="nav-item active word">
                  <a
                    href="{{ url_for('views.about') }}"
                    class="nav-link px-2 text-secondary"
                    >About Me</a
                  >
                </li>
              </ul>
              
              <div class="nav-item active text-end ms-auto">
                <a class="nav-link" href="{{ url_for('auth.login') }}"
                  ><button type="button" class="btn btn-outline-dark">Login</button></a
                >
              </div>
              </div>
            </nav>
    </div>
    </header>
    <div class="text-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert">
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="container">
            <form action="{{ url_for('auth.register') }}" method="POST">
                {{ form.csrf_token }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Admin Registration</legend>
                    <div class="form-group mb-2">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group mt-2">
                    {{ form.submit(class="btn btn-lg btn-outline-info") }}
                </div>
            </form>
        <div class="bortder-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign In</a>
            </small>
        </div>
    </div>
    
    <footer>
        <div class="container text-center my-auto">
          <a href="https://www.instagram.com/kalunwau/" target="_blank"><i class="ti ti-brand-instagram"></i></a>
          <a href="https://twitter.com/Nwualari" target="_blank"><i class="ti ti-brand-twitter"></i></a>
          <a href="https://www.linkedin.com/in/kalu-nkeiruka/" target="_blank"><i class="ti ti-brand-linkedin"></i></a>
          <a href="https://kalunkeiruka.medium.com/" target="_blank"><i class="ti ti-brand-medium"></i></a></div>
        <small class="text-muted">
          Copyright &#169 2023 Tchelber Writes.
      </small>
    </footer>
  
<!-- Custom Script -->
<script src="{{ url_for('static', filename='index.js') }}" referrerpolicy="origin"></script>

<!-- Jquery, Js and Popper scripts for Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>